/*
.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}
*/

.preloader{
    position: relative;
    z-index: 100;
    margin-top: 400px;
    left: 50%;
}
.progressBar{
    min-height: 4px;
}
